
.cell {
  user-select: none;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: grab;
  background-color: black;

  opacity: 1;
  box-shadow: 0 0 0 0;
  transform: scale(1);

  transition:
    opacity     linear .2s,
    box-shadow  linear .3s;
}

.cell.glow-dim {
  opacity: 0.001;
  box-shadow: 0px 0px 5px 5px inset;
}

.cell.glow-bright {
  opacity: 0.001;
  box-shadow: 0px 0px 40px 40px inset;
  transform: scale(.5) rotate(359deg);

  transition:
    opacity     linear .5s,
    box-shadow  linear .3s,
    transform   linear .7s;
}
