
.color.teal    { color: #53a2a4; background-color: #85d4d5; }
.color.blue    { color: #001a6b; background-color: #0066cc; }
.color.pink    { color: #600099; background-color: #cc33ff; }
.color.orange  { color: #8e2f00; background-color: #ff8b14; }
.color.brown   { color: #553f00; background-color: #b79757; }
.color.green   { color: #006900; background-color: #00991f; }
.color.crimson { color: crimson; background-color: #ff8f94; }
