* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

body {
  position: relative;
  user-select: none;
}

.page-content {
  height: 100%;
  margin: auto;
  font-family: sans-serif, 'plain-emoji';

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  overflow: hidden;
}

.spacer {
  flex-grow: 1;
}

.level-info {
  padding: 1rem;
  min-width: 12rem;
  font-family: monospace;
  font-size: 1.3rem;
  white-space: pre;
}

@media (orientation: landscape) {
  .page-content { flex-direction: row; }
  .spacer { flex-grow: 0; }
  .game-board { flex-grow: 1; }
}

@media (orientation: portrait) {
  .page-content { flex-direction: column; }
  .level-info { min-width: 0; }
}
